<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Axon bank</h3>
  </div>

  <app-list-accounts></app-list-accounts>
  <footer class="footer float-right">
    <p>&copy;  2017</p>
  </footer>

</div>
